.pt-popover-open {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #1A3256;
  /*font-variant: small-caps;*/
}

a.pt-menu-item {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #1A3256;
  /*font-variant: small-caps;*/
}

.pt-menu-item {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #1A3256;
  font-size: 1.25em;
  /*font-variant: small-caps;*/
}

.pt-dialog-header h5 {
  font-size: 1.5em;
}